.checkbox {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    
    padding: 3px;
    border: 2px solid var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    
}

.checkbox.checked {
    border: none;
    background-color: var(--purple);
}